/*w3css*/ *{margin:0}figcaption,figure,footer,header{display:block}a{background-color:transparent}a:active,a:hover{outline-width:0}small{font-size:80%}figure{margin:1em 40px}img{border-style:none vertical-align: middle}button,input{font:inherit;margin:0 overflow: visible}html{box-sizing:border-box}*,:after,:before{box-sizing:inherit}body,html{font-family:Verdana,sans-serif;font-size:15px;line-height:1.5}html{overflow-x:hidden}a{color:inherit}:disabled *{pointer-events:none}.w3-modal{z-index:3;display:none;padding-top:100px;position:fixed;left:0;top:0;width:100%;height:100%;overflow:auto;background-color:rgba(0,0,0,.4)}.w3-modal-content{margin:auto;background-color:#fff;position:relative;padding:0;outline:0;width:600px}@media (max-width:600px){.w3-modal-content{margin:0 10px;width:auto!important}.w3-modal{padding-top:30px}}@media (min-width:993px){.w3-modal-content{width:900px}}.w3-center{text-align:center!important}

	*{font-family: "Segoe UI", Arial, sans-serif;
		transition: all .2s;
		transition: padding .3s;
	}

img {
	border:1px solid translate;
	transition: all .2s;
	border-radius: 1rem !important;
}

figure:hover {
	border:4px solid orange;
	border-radius: 2rem;
	padding-bottom: 1rem;
}

.footer{bottom:.5rem;position:fixed;width:100%;color:rgb(120,120,120)}figcaption{font-size:.6em;color:rgb(170,170,170)}
figure{
	padding-top: 1rem;
	border:4px solid transparent;
	display:inline-block;margin:16px 2px 2px 4px;
	font-size:1.5rem;
}
figure img {
	width:52px;height:52px;border-radius:2px
}
figure span{width:52px;height:52px;padding:1px 4px 1px 4px;border-radius:2px}
.group a{padding:4px;margin:2px;display:inline-block;text-decoration:none}
body{ 
  background-image: url('images/z.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: 100vw 100vh;
}
.searchpng{margin-top:5em;margin-bottom:0em}
@media (max-width:1300px) {.searchpng {margin-top:0;margin-bottom:.5em;}}


input[type=text]  {
	margin-top:2em;margin-bottom:4em;
	width:800px;max-width:80%;
	padding:16px 12px;
	display:inline-block;
	border:2px solid rgba(0,0,0,.3);border-right:none;
	
	border-radius: 1rem;
	border-top-right-radius:0rem;
	border-bottom-right-radius:0rem;
	font-size: 1.2rem;
	
	box-shadaow:1px 1.5px 20px black;
	box-sizing:border-box;
	color:white;
	background-color:rgb(12,12,12, .8);
}

input[type=submit]{
	padding:16px 15px;
	border:2px solid rgba(0,0,0,.3);border-left:none;
	border-top-right-radius:1rem;
	border-bottom-right-radius:1rem;
	cursor:pointer;position:relative;
	right:8px;
	background-color:rgb(2,2,2);
	font-size: 1.2rem;
}
